<!DOCTYPE html>
<html lang="en">

{% include "components/head.twig" %}
<body class="d-flex flex-column" lang="nl">
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


{% include "components/header.twig" %}

<div class="pagewrapper">

    {% block body %}
    {% endblock %}

</div>

{% include "components/footer.twig" %}

{% include "components/scripts.twig" %}

</body>
</html>
