.jumbotron {
  position: relative;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-size: cover!important;

  img {
    visibility: hidden;
    position: absolute;
    left: -64px;
  }
}
