<link rel="stylesheet" href="{{ paths.theme }}css/components/blocks/imagesection.css">

<div class="container block imagesection">
    <div class="row">
        <div class="col">
            <img src="{{ thumbnail(group.image, 1110, 1110, "r") }}" class="image">
        </div>
    </div>
</div>
