<link rel="stylesheet" href="{{ paths.theme }}css/components/blocks/video.css">

<div class="container block video">
    <div class="row">
        <div class="col videowrapper">
            <iframe src="https://www.youtube.com/embed/{{ group.url|trim("https://www.youtube.com/watch?v=") }}"></iframe>
        </div>
    </div>
</div>